
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Places</title>
  </head>
  <body>
    <h1>NewPlace</h1>
    <form action="/items" method="post">
      <label for="city">Enter city you've been too.</label>
      <input id="city" name="city" type="text" required><br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
